<div class="container">
  <div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-login">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <a href="#" class="active" id="login-form-link">Create an account</a>
          </div>
          <div class="col-xs-6">
            <a routerLink="/contact">Contact Us</a>
          </div>
        </div>
        <hr>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="alert alert-danger" *ngIf='error'>
              <p>{{ error }}</p>
            </div>
            <div *ngIf="isLoading" style="text-align: center;">
              <app-loading-spinner></app-loading-spinner>
            </div>
            <form id="login-form" style="display: block;" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
              <div class="form-group">
                <input type="text" name="email" id="email" tabindex="1" class="form-control" placeholder="Email" ngModel required email>
              </div>
              <div class="form-group">
                <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" ngModel required minlength="6">
              </div>
              <div class="form-group">
                <div class="row">
                
                    <button class= "btn-primary btn" type="submit" tabindex="4"  [disabled]="!authForm.valid" (click)="onSwitchAuthMode()">
                      {{ isLoginMode ? "Sign Up" : "Sign In"}}
                    </button>
                    <button class="btn btn-info" type="button" (click)="onSwitchAuthMode()">
                      Switch to {{ isLoginMode ? "Sign In" : "Sign Up"}}
                    </button>
                  </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="text-center">
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <p class="alert alert-success mt-3" *ngIf="msg">{{ msg }} </p>
            <p class="alert alert-danger mt-3" *ngIf="error"> {{ error }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>