<h1>Exercise Library</h1>

<div class="row mb-3" *ngFor="let exercise of allExercises; let i = index">
  <div class="col-md-12">
    <a href="#" class="list-group-item clearfix">
      <div class="float-left">
        <h4 class="list-group-item-heading">{{ exercise.name }}</h4>
        <p class="list-group-item-text mb-0">{{ exercise.desc }}</p>
      </div>
      <app-alert [message]="modal" *ngIf="message" (close)="onHandleModal()">
     
      </app-alert>
    </a>
  </div>
  <div class="row">
    <div class="col-md-12 mt-2">
      <button class="btn btn-primary"(click)="onAddExercise(exercise)">Add Exercise</button>
    </div>
  </div>
</div>
<!-- <div style="text-align: center;">
  <input type="text" [(ngModel)]="exercise" placeholder="Exercise" />
  <input type="text" [(ngModel)]="Description" placeholder="Equipment" />
  <input type="text" [(ngModel)]="Body" placeholder="Body Part" />
  <button (click)="onUpdateLibrary()">Add Exercise</button>
</div>   -->
<!-- <p *ngIf = "onAddExercise">
  {{ message }}
 </p> -->