<!-- 
<div class="container">
  <img class="Images" src="assets/images/alexander-jawfox-Kl2t5U6Gkm0-unsplash.jpg" class="img-fluid" style="max-width:100;" height="auto">
  <button class="btn btn-info">Get Started</button>
</div> -->
<div class="container-fluid">
  <div class="img-wrapper">
    <img class="img-fluid"
        src="assets/images/alexander-jawfox-Kl2t5U6Gkm0-unsplash.jpg">
    <div class="img-overlay">
      <h1 class="margin">Fitness Tracker by Ludo</h1>
      <p>Ready to achieve your goals?  This is no nonesense app will help you achieve them! </p>
      <button class="btn btn-md btn-success" routerLink="/auth">Get Started</button>
    </div>
  </div>
</div>  


  